<template>
  <div id="app">
    {{#isEnabled plugins 'vue-router'}}
    <router-view></router-view>
    {{/isEnabled}}
  </div>
</template>

<script>
  export default {
    name: '{{ name }}'
  }
</script>

<style>
  /* CSS */
</style>
